/*Start of Heading*/
/*Flex Containers for Heading (Find a way to ustilize header as flex container alone)*/
.header {
  display: flex;
  font-family: Verdana;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1;

}

.logo {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*End of Heading Flex Containers*/
a {
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.header .logo {
  flex: 1;
}

.header img {
  padding: 10px 10px;
  margin: 0;
}


.logo h1 {
  font-weight: bold;
  font-size: 14px;
  color: MediumAquamarine;
}

.navigation li {
  font-size: 14px;
  display: inline-block;
  padding: 10px 10px;
}

/*Start of Body*/

.content {

}

.column {
  display: flex;
  flex-grow: 1;
  position: relative;
  justify-content: space-around;
  top: 90px;
  margin-bottom: 90px; /*Kinda Hackey*/
}

.column .large {
  align-content: flex-start;
  width: 630px;
}

.column .medium {
  width: 300px;
}

.column .small {
  width: 240px;
}

.headline {
  display: flex;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.headline.mainstory {
  font-size: 40px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 300px;
}

.headline.fall {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
}

.headline.cameraman {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
}

.headline.cat {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
}

.story {

}

.story img {
  width: 239px;
}

.story h2,
.story p {
    margin: 25px 0px;
}
